@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Adlam+Unjoined:wght@400;500;600&display=swap');
* {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 5%, rgba(0,0,128,1) 15%, rgba(0,212,255,1) 40%);
}
section {
    /* border: 1px dotted coral; */
    /* display: grid; */
    place-items: center;
    align-content: center;
    min-height: 100vh;
    min-width: 100vh;
}