@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Adlam+Unjoined:wght@400;500;600&display=swap');
body {
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    padding: 0;
    margin: 0;
}
nav {
    margin: 0.3em;
    border: 1px solid blue;
    height: 70%;
    width: 70%;
    border-radius: 0.6em;
    display: block;
    place-content: center;
    align-items: center;
}
nav ul {
    border: 1px solid green;
    padding: 1em;
    margin: 1em;
    align-items: center;
    place-content: center;
    display: flex;
    justify-content: space-evenly;
}
/* nav ul a {
    border: 1px solid purple;
    place-content: center;
    align-items: center;
} */
nav ul a{
    border: 1px solid red;
    width: 8em;
    height: 2em;
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    place-content: center;
    
    /* display: inline-block; */
    /* height: inherit;
    width: inherit; */
    list-style: none;
}
nav ul a:link {
    text-decoration: none;
}
nav ul a:visited {
    text-decoration: none;
}
nav ul a:hover {
    transition: 0.15s;
    /* color: black; */
    background-color: aqua;
    color: red;
    animation-duration: 0.15s;
    border-radius: 15px;
}
section {
    border: 1px dotted coral;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}